html {
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
    width: auto;
    height: auto;

}

body {
    background-image: url(images/marina.png);
    width: auto;
    height: auto;
    display: flex;
}

main {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 100px 100px 100px 250px;
}

nav {
    flex-direction: column;

    height: auto;
    width: 250px;
    display: block;
}

nav ul li {
    list-style-type: none;
    background-color: rgb(202, 224, 219);
    margin: 20px;
    height: 30px;
    display: block;

}

nav ul a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-align: center;
}

header img #photo {
    display: block;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

section {
    flex-direction: column;
    background-color: rgb(202, 224, 219);
    text-align: center;
}

header {

    margin: 20px;
}
.contact {
    text-align: center;
}

footer {
    margin: 20px;
}

@media only screen and (max-width:600px) {
    html {
        width: auto;
        height: auto;
    }
    main {
        margin:0;
    }
    }