html {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    
}

body {
    background-color:  #47383b;
    width: auto;
}

main {
    display: flex;
    flex-direction: row;
    
}
section {
    display: flex;
    flex-direction: column;
    width: 100%;
}



header {
    background-color:  #adaaaa;
       display: flex;
    flex-direction: row;
    width: auto;
}
nav {
    display: flex;
    flex-direction: column;
    width: 300px;
    height:700px ;
    background-color:#010103;
   color:#afa5a5;
}  

img {
    border-radius: 50%;
    filter: grayscale(100%);
    height: 200px ;
    width: 200px;
    align-self: center;
    
}

.personal {
    color: #0b0a10;
 width: 33%;%;
  
}

.adress {
    color: #0b0a10;
    width: 33%;
}

.contact {
    color: #0b0a10;
    width: 33%;
}
article {
    color: #0b0a10;
   width: 100%;
   background-color: #adaaaa;
   width: auto;
}
footer {
    color: #0b0a10;
 }