html {
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
    width: auto;
    height: auto;

}

body {
    background: url(images/marina.png);
    background-size: cover;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  
}

main {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

nav {
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 250px;
    display: block;
}

nav ul li {
    list-style-type: none;
    background-color: rgb(202, 224, 219);
    margin: 20px;
    height: 30px;
    display: block;
    text-align: center;

}

nav ul a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-align: right;
   
}

 #photo {
    display: block;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

section {
    flex-direction: column;
    background-color: rgb(202, 224, 219);
    text-align: center;
}

header {

    margin: 20px;
}
.contact {
    text-align: center;
}

footer {
    margin: 20px;
}

@media only screen and (max-width:600px) {
    html {
        width: auto;
        height: auto;
        background-image: url(images/marina.png) fixed 100% no-repeat;
    }
    main {
        flex-direction: column;
        margin:0;
        align-items: center;
    justify-content: center;
    }
    body{
        margin: 0;
        background-image: url(images/marina.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

nav ul li {
    list-style-type: none;
    background-color: rgb(202, 224, 219);
    height: 30px;
    display: block;}

    nav ul  {
        padding: 0%;
      
    }
    nav{
        order: 2; 
    }
    section{
        order: 1; 
    }
}
